@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
}

#root {
  --white: #f1f1fd;
  --spacing-gutter: 1.5rem;
  --color-primary: #060010;
  --color-primary-rgb: rgb(17, 17, 36);
  --color-secondary: #dadadf;

  --color-background: #060010;

  --color-primary-text: rgb(255, 255, 255);
  --color-primary-hover: rgba(82, 39, 255, 0.667);
  --color-primary-bg: #5227ff;
  --color-primary-border: 0.125rem solid var(--color-primary-bg);
  --color-primary-border-hover: 0.125rem solid var(--color-primary-hover);

  --color-outline-text: var(--color-primary-text);
  --color-outline-text-hover: var(--color-primary-hover);
  --color-outline-hover: rgb(23, 13, 39);
  --color-outline-border: 0.125rem solid var(--color-primary-bg);
  --color-outline-border-hover: 0.125rem solid var(--color-primary-hover);

  --color-disabled: rgb(62,71,109);
  --color-disabled-bg: rgba(62,71,109,0.3);
  --color-disabled-border: 0.125rem solid rgba(62,71,109,0.75);

  --color-error: #cd5b5b;
}

html {
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 16px; /* базовый размер */
  width: 100%;
  min-height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.error {
  color: var(--color-error);
  border-color: var(--color-error) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scene {
  padding: calc(var(--spacing-gutter)* 2) 0;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-primary-text);
}